<af-game-header [game]="game" />

<section>
  @switch (gameState()) {
    @case (GameState.instruction) {
      <af-color-clash-instruction
        @cardFadeInUpScale
        (next)="gameState.set(GameState.active)"
      />
    }
    @case (GameState.active) {
      <af-color-clash-game
        @cardFadeInUpScale
        (finishGame)="onFinishGame($event)"
        (updateGameState)="gameState.set($event)"
      />
    }
    @case (GameState.evaluation) {
      <af-color-clash-evaluation
        @cardFadeInUpScale
        [points]="points()"
        [mistakes]="mistakes()"
        (updateGameState)="gameState.set($event)"
      />
    }
  }
</section>
