<h2 class="section-title" i18n>Frontend skills</h2>
@for (item of frontendSkills; track $index) {
  <af-progressbar [progress]="item.skill" [name]="item.name" />
}

<h2 style="--color-primary: #0ba376" class="section-title mt4" i18n>
  Backend skills
</h2>
@for (item of backendSkills; track $index) {
  <af-progressbar
    style="--color-primary-600: #29ca9a; --color-primary-700: #0ba376"
    [progress]="item.skill"
    [name]="item.name"
  />
}

<h2
  style="--color-primary: var(--color-primary-700)"
  class="section-title mt4"
  i18n
>
  More knowledges
</h2>
<ul class="badge-list">
  @for (item of knowledges; track $index) {
    <li ngxScrollAnimate="fade-in-up-scale" class="badge-chip">
      {{ item }}
    </li>
  }
</ul>
