section {
  &.open-hero {
    overflow: hidden;
  }

  scrollbar-gutter: stable both-edges;
  overflow: auto;

  max-height: 100vh;
  max-height: 100dvh;
  height: 100%;
  padding-bottom: 30px;
}
.gallery {
  margin-top: calc(var(--modal-header-height) + 15px);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}
:host ::ng-deep {
  .skeleton-loading::after {
    border-radius: 3px !important;
    overflow: hidden;
  }
}

