[data-theme="dark"] {
  --color-primary-50: #1b1e26;
  --color-primary-100: #242a35;
  --color-primary-200: #2e3645;
  --color-primary-300: #384155;
  --color-primary-400: #424c65;
  --color-primary-500: #4c5775;
  --color-primary-600: #566285;
  --color-primary-700: #606c95;
  --color-primary-800: #6a76a5;
  --color-primary-900: #eaeef5;

  --color-primary: #4d8dc3;
  --color-accent: #49494f;
  --color-light: #f8f8f8;

  --button-background-light: #353539;

  --card-background: #353539;
  --card-background-accent: #49494f;
  --card-hover-color: #49494f;
  --card-gradient: linear-gradient(to right, #273043, #232c3d);

  --shadow-color: rgb(66 68 73);

  --text-color-primary: #f4f4f4;
  --text-color-secondary: #d5d5d5;

  --page-background-primary: #222222;

  --border-color: #f4f4f4;
}
