[data-theme="light"] {
  --item-hover-color: rgb(215, 215, 230);

  --card-background: #ffffff;
  --card-background-accent: #f1fcff;
  --card-hover-color: #f0f6ff;

  --input-background-color: #ffffff;
  --shadow-color: #040e2e29;

  --text-color-primary: #353535;
  --text-color-secondary: #5c5c5c;
  --text-color-light: #f4f4f4;

  --page-background-primary: #ffffff;

  --border-color: rgba(0, 0, 0, 0.3);
  --border-color-darken: rgba(0, 0, 0, 0.6);

  --color-primary: #3b79ad; // #04b4e0;
  --color-accent: #d5e8ff;
  --color-light: #f5f5f5;

  --profile-banner-background: var(--color-primary);
  --skill-icon-background: #edf0f4;

  --icon-primary: #2d527c;
  --icon-secondary: #cee8fa;

  --glass-color: #d6e8ff;
  --glass-gradient: radial-gradient(
      93% 87% at 87% 89%,
      rgba(182, 182, 182, 0.23) 0%,
      transparent 86.18%
    ),
    radial-gradient(
      66% 66% at 26% 20%,
      rgba(255, 255, 255, 0.699) 0%,
      rgba(255, 255, 255, 0) 69.79%,
      rgba(255, 255, 255, 0) 100%
    );
}
