@use "sass:meta";
:root {
  --primary-font:
    "Roboto Flex", "Roboto", "Segoe UI", Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

  --animation-duration: 220ms;
  --smooth-background: background-color 200ms ease;
  --card-radius: 16px;
  --page-padding: 40px;

  --header-filter-bg: saturate(180%) blur(16px);
  --header-height: 60px;
  --footer-height: 48px;

  @media (max-width: 500px) {
    --page-padding: 20px;
  }
}
@include meta.load-css("light-theme");
@include meta.load-css("dark-theme");
@include meta.load-css("frosted-glass-theme");
