<h2 ngxScrollAnimate="fade-in-left" once="false" class="section-title">
  My hobbies
</h2>

<section>
  <ng-container #containerRef />
</section>

<ng-template
  #itemTemplate
  let-icon="icon"
  let-title="title"
  let-message="message"
>
  <article>
    <img
      ngxScrollAnimate="fade-in-up-scale"
      once="false"
      speed="700"
      src="assets/img/icon/{{ icon }}.svg"
      [alt]="title"
    />

    <h3 ngxScrollAnimate="fade-in-up" once="false" speed="700">{{ title }}</h3>
    <p ngxScrollAnimate="fade-in-up" once="false" speed="700">{{ message }}</p>
  </article>
</ng-template>
