:host {
  display: block;
  padding: 32px;
  border-radius: var(--card-radius);

  color: var(--text-color-primary);

  background: var(--card-background);
  backdrop-filter: var(--card-backdrop-filter);
}
