<h2 class="section-title" i18n>Business Projects</h2>

<button (click)="openProject()" id="snaptab">
  <div class="snaptab-gift" [innerHTML]="snaptabGift | safe"></div>

  <article>
    <div class="row flex-start align-center">
      <div [innerHTML]="logo"></div>

      <h3 i18n>snaptab</h3>
    </div>

    <h4 i18n>
      The
      <span class="snaptab-primary">Allrounder-Tool</span> for
      <br class="break-before" />
      your<br class="break-after" />&nbsp;<af-typewriter
        class="snaptab-primary"
        [items]="items"
      />
    </h4>

    <p class="mt2" i18n>
      From project tracking to the completed QR invoice - that's what
      <b>snaptab</b> offers you. All important documentation regarding your
      projects and employees is created, giving you full control at all times!
    </p>
  </article>
</button>
