<div [innerHTML]="wonIcon | safe"></div>

<h2 i18n>Waooo you won!</h2>

<p i18n>
  It seems that you are a genius in this topic, congratulations! However, I have
  some disappointing news: I'm not rich, so you haven't won a million. The only
  reward you'll receive is the experience and enjoyment you've had ;)
</p>
<br />

<div class="action-row">
  <button
    [routerLink]="[
      '/relax',
      'quantum-quiz',
      { outlets: { state: 'choose-topic' } },
    ]"
    class="button"
    type="button"
    i18n
  >
    Play again
  </button>
</div>
