@import "various/breakpoints";

$snaptab-color: #0f7dff;

:host {
  display: block;

  margin-bottom: 120px;
}
button {
  width: 100%;
  padding: 30px;
  border: none;

  border-radius: 16px;

  text-align: start;
}
.snaptab-fill {
  fill: #2f2e41;
}
article {
  padding-left: 50px;
}

h2 {
  font-size: 2rem;
  line-height: 120%;
  margin-top: 25px;
  margin-bottom: 20px;
}
h3 {
  font-size: 4rem;
  font-weight: 600;
  color: $snaptab-color;
}
h4 {
  font-size: 2.1rem;
  margin-top: 25px;
  margin-bottom: 20px;
}
p {
  font-size: 1.2rem;
}
.snaptab-primary {
  color: $snaptab-color;
}
.af-typewriter {
  border-right-color: $snaptab-color !important;
}
.break-after {
  display: none;
}

@media (max-width: 900px), (min-width: 1024px) and (max-width: 1340px) {
  button {
    margin-top: 40px;
  }
  button,
  .row {
    flex-direction: column;
    align-items: center;
  }
  article,
  svg {
    width: 100%;
  }
  .snaptab-gift {
    max-height: 170px;
  }
  article {
    padding-left: 0px;
    margin-top: 30px;
  }
  h3,
  h4,
  p {
    text-align: center;
  }
}
@include xs {
  button {
    padding: 24px 16px;
  }
  h3 {
    font-size: 1.5rem;
  }
  h4 {
    font-size: 1.25rem;
  }
  p {
    font-size: 0.95rem;
    text-align: justify;
  }
  .snaptab-gift {
    max-height: 130px;
  }
  .break-before {
    display: none;
  }
  .break-after {
    display: unset;
  }
}

:host ::ng-deep {
  .snaptab-gift {
    height: 280px;
    width: auto;
    margin: auto;
    flex-shrink: 0;
    svg {
      height: 100%;
      width: 100%;
    }
  }
}
