:host {
  position: fixed;

  top: 0px;
  right: 0px;
  z-index: 1000;
  min-height: var(--header-height);

  display: flex;
  align-items: center;
  justify-content: flex-start;

  transition:
    border-bottom 200ms ease-in-out 0s,
    box-shadow 200ms ease-in-out 0s;
  will-change: box-shadow;

  box-shadow: none;
  border-bottom: 1px solid var(--border-color);

  backdrop-filter: var(--header-filter-bg);
  background: var(--header-bg);

  &.shadow {
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    box-shadow:
      0 2px 4px rgba(32, 32, 60, 0.35),
      0 7px 13px -3px rgba(32, 32, 60, 0.25);
  }

  &.disabled {
    visibility: hidden;
    display: none;
    height: 0px;
  }
}

@media (max-width: 960px) {
  af-nav-items {
    display: none;
  }
}
@media (min-width: 959px) {
  af-mobile-header {
    display: none;
  }
}
