<h2
  ngxScrollAnimate="fade-in-left"
  aos="1"
  duration="400"
  class="section-title"
  i18n
>
  Next Recommended Pages
</h2>

<section>
  <ng-container #containerRef />
</section>

<ng-template
  #itemTemplate
  let-id="id"
  let-name="name"
  let-msg="msg"
  let-path="path"
>
  <a
    [routerLink]="path"
    #card
    ngxScrollAnimate="fade-in-up-scale"
    duration="500"
    aos="1.2"
  >
    <div class="thumbnail">
      <ng-container *ngTemplateOutlet="imgRef; context: { name, id }" />
    </div>

    <div class="glass-box">
      <div class="frosted-background">
        <ng-container *ngTemplateOutlet="imgRef; context: { name, id }" />
      </div>
      <div afCardEffects [card]="card" class="frosted-glass"></div>

      <div class="text-container">
        <div class="col">
          <h3>{{ name }}</h3>

          <p>{{ msg }}</p>
        </div>

        <div [innerHTML]="chevronRight | safe"></div>
      </div>
    </div>
  </a>
</ng-template>

<ng-template #imgRef let-id="id" let-name="name">
  <picture>
    @for (format of ["avif", "webp", "jpeg"]; track format) {
      <source
        srcset="
          assets/img/recommended-page/{{id}}/{{id}}_1x.{{format}} 1x,
          assets/img/recommended-page/{{id}}/{{id}}_2x.{{format}} 2x,
          assets/img/recommended-page/{{id}}/{{id}}_3x.{{format}} 3x,
          assets/img/recommended-page/{{id}}/{{id}}_4x.{{format}} 4x
        "
        type="image/{{ format }}"
      />
    }
    <img
      src="assets/img/recommended-page/{{ id }}/{{ id }}_4x.jpeg"
      loading="lazy"
      [alt]="name"
    />
  </picture>
</ng-template>
