:host {
  display: block;
  margin-bottom: 40px;
}
section {
  margin-top: 25px;

  display: grid;
  gap: 20px;

  grid-template-columns: repeat(3, 1fr);
}

.frosted-background {
  z-index: 1;
}
.thumbnail {
  width: 90px;
  height: 100%;
  flex-shrink: 0;
}
img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
.glass-box {
  position: relative;
  width: 100%;
}
.text-container {
  z-index: 3;
  position: inherit;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding: 15px;
}
a {
  position: relative;
  overflow: hidden;

  display: flex;
  align-items: stretch;

  border-radius: 8px;

  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.1);
  transition:
    transform 200ms ease,
    box-shadow 200ms ease;

  &:active {
    transform: scale(0.95);
    box-shadow: 1px 4px 6px rgba(0, 0, 0, 0);
  }
}

h3,
p {
  color: var(--color-light);
}
h3 {
  margin-bottom: 2px;
  font-size: 1.2rem;
  font-weight: 600;
}
p {
  font-size: 0.9rem;
  font-weight: 300;
}

@media (max-width: 1280px) {
  section {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}
@media (max-width: 499px) {
  section {
    grid-template-columns: 100%;
  }
}

:host ::ng-deep {
  a {
    svg {
      transition: transform 250ms ease;

      margin-right: 10px;
      margin-left: auto;

      flex-shrink: 0;

      width: 28px;
      height: 28px;
    }
    path {
      fill: var(--color-light);
    }
    &:hover {
      box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.5);

      svg {
        transform: translateX(10px);
      }
    }
  }
}
