:host {
  padding: var(--page-padding) 0;
  display: block;
  margin: auto;
  max-width: 1280px;
}
.horizontal-space {
  padding: 0 var(--page-padding);
}
.af-resume-skills {
  margin-bottom: 140px;
  row-gap: 120px;
}
