<af-game-header [game]="game" />

<section>
  @switch (gameState()) {
    @case (GameState.instruction) {
      <af-quantum-quiz-instruction
        (next)="gameState.set(GameState.chooseTopic)"
      />
    }
    @case (GameState.chooseTopic) {
      <af-quantum-quiz-choose-topic
        @cardFadeInUpScale
        [errorMsg]="generateErrorMsg()"
        (generateQuiz)="generateQuiz($event)"
      />
    }
    @case (GameState.generateQuiz) {
      <af-quantum-quiz-generate-quiz
        @cardFadeInUpScale
        (generatedQuiz)="quiz.set($event)"
      />
    }
    @case (GameState.active) {
      <af-quantum-quiz-game
        [quiz]="quiz()"
        (stateChanged)="onStateChanged($event)"
      />
    }
    @case (GameState.won) {
      <af-quantum-quiz-won
        @cardFadeInUpScale
        (playAgain)="gameState.set(GameState.chooseTopic)"
      />
    }
    @case (GameState.loose) {
      <af-quantum-quiz-loose
        @cardFadeInUpScale
        [wonCash]="wonCash()"
        (playAgain)="gameState.set(GameState.chooseTopic)"
      />
    }
  }
</section>
