<article>
  <af-typewriter [items]="items" />

  <h1 i18n>Alex Frei</h1>

  <p i18n>
    Hey, my name is Alex and I'm a passionate software developer who loves to
    turn ideas into simple and functional solutions. Whether it's a website,
    mobile app or server backend, my love for innovation and problem solving
    drives me to realize every project. Let's bring your projects to life
    together!
  </p>
</article>

<article>
  <table border="0">
    <tbody>
      <tr>
        <td i18n>E-Mail</td>
        <td>
          <a
            i18n-afTooltip
            afTooltip="Send E-Mail"
            href="mailto:alex.frei@hotmail.ch"
            >alex.frei&#64;hotmail.ch
          </a>
        </td>
      </tr>
      <tr>
        <td i18n>Phone</td>
        <td>
          <a i18n-afTooltip afTooltip="Start call" href="tel:+41799505276">
            +41 79 950 52 76
          </a>
        </td>
      </tr>
      <tr>
        <td i18n>Location</td>
        <td>
          <a
            i18n-afTooltip
            afTooltip="View Location on Google Maps"
            href="https://www.google.com/maps/search/?api=1&query=9642+Ebnat-Kappel,+St.+Gallen,+Schweiz"
            target="_blank"
            >9642 Ebnat-Kappel</a
          >
        </td>
      </tr>
      <tr>
        <td>Github</td>
        <td>
          <a
            i18n-afTooltip
            afTooltip="View GitHub Profile"
            href="https://github.com/hm21"
            target="_blank"
            >hm21</a
          >
        </td>
      </tr>
      <tr>
        <td>npm</td>
        <td>
          <a
            i18n-afTooltip
            afTooltip="View npm Profile"
            href="https://www.npmjs.com/~hm21"
            target="_blank"
          >
            hm21
          </a>
        </td>
      </tr>
      <tr>
        <td>Stack-Overflow</td>
        <td>
          <a
            i18n-afTooltip
            afTooltip="View Stack-Overflow Profile"
            href="https://stackoverflow.com/users/9513092"
            target="_blank"
            >Alex</a
          >
        </td>
      </tr>
      <tr>
        <td i18n>Languages</td>
        <td i18n>German, English</td>
      </tr>
      <tr>
        <td i18n>Age</td>
        <td
          i18n-afTooltip
          afTooltip="03/21/1995"
          [ngxCountAnimation]="age()"
          duration="1_400"
        ></td>
      </tr>
    </tbody>
  </table>
  <div class="corner"></div>
  <div class="corner bottom right"></div>
</article>
