<h2
  ngxScrollAnimate="fade-in-left"
  aos="1"
  speed="400"
  class="section-title"
  i18n
>
  My hobbies
</h2>

<section>
  <ng-container #containerRef />
</section>

<ng-template
  #itemTemplate
  let-icon="icon"
  let-title="title"
  let-message="message"
>
  <article>
    <picture>
      @for (format of ["avif", "webp", "jpeg"]; track format) {
        <source
          srcset="
            assets/img/hobby/{{icon}}/{{ icon }}_1x.{{format}} 1x,
            assets/img/hobby/{{icon}}/{{ icon }}_2x.{{format}} 2x,
            assets/img/hobby/{{icon}}/{{ icon }}_3x.{{format}} 3x,
            assets/img/hobby/{{icon}}/{{ icon }}_4x.{{format}} 4x
          "
          type="image/{{ format }}"
        />
      }
      <img
        ngxScrollAnimate="fade-in-up-scale"
        aos="100"
        thresholdMode="pixel"
        speed="700"
        src="assets/img/hobby/{{ icon }}/{{ icon }}_4x.jpeg"
        [alt]="title"
      />
    </picture>

    <div ngxScrollAnimate aos="100" thresholdMode="pixel" speed="700">
      <h3>
        {{ title }}
      </h3>

      <p>
        {{ message }}
      </p>
    </div>
  </article>
</ng-template>
