<h2
  ngxScrollAnimate="fade-in-left"
  aos="1"
  speed="400"
  once="false"
  class="section-title"
>
  <span i18n>Fun-Facts</span> <span class="info" i18n>About this Website</span>
</h2>

<section>
  @for (item of items(); track $index) {
    <article
      #card
      ngxScrollAnimate="fade-in-up-scale"
      once="false"
      speed="500"
      aos=".5"
    >
      <picture>
        @for (format of ["avif", "webp", "jpeg"]; track format) {
          <source
            srcset="
              assets/img/fun-fact/{{item.id}}/{{item.id}}_1x.{{format}} 1x,
              assets/img/fun-fact/{{item.id}}/{{item.id}}_2x.{{format}} 2x,
              assets/img/fun-fact/{{item.id}}/{{item.id}}_3x.{{format}} 3x,
              assets/img/fun-fact/{{item.id}}/{{item.id}}_4x.{{format}} 4x
            "
            type="image/{{ format }}"
          />
        }
        <img
          src="assets/img/fun-fact/{{ item.id }}/{{ item.id }}_4x.jpeg"
          [alt]="item.title"
        />
      </picture>

      <div
        afCardEffects
        enableHoverAnimations="false"
        [card]="card"
        class="backdrop"
      ></div>

      @if (!item.loading) {
        <div [ngxCountAnimation]="item.value" duration="1000"></div>
      } @else {
        <svg
          class="loading-spinner"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          viewBox="0 0 100 100"
          preserveAspectRatio="xMidYMid"
        >
          <circle
            cx="50"
            cy="50"
            r="32"
            stroke-width="8"
            stroke="#008fd4"
            stroke-dasharray="50.26548245743669 50.26548245743669"
            fill="none"
            stroke-linecap="round"
          >
            <animateTransform
              attributeName="transform"
              type="rotate"
              dur="1s"
              repeatCount="indefinite"
              keyTimes="0;1"
              values="0 50 50;360 50 50"
            ></animateTransform>
          </circle>
          <circle
            cx="50"
            cy="50"
            r="23"
            stroke-width="8"
            stroke="#386579"
            stroke-dasharray="36.12831551628262 36.12831551628262"
            stroke-dashoffset="36.12831551628262"
            fill="none"
            stroke-linecap="round"
          >
            <animateTransform
              attributeName="transform"
              type="rotate"
              dur="1s"
              repeatCount="indefinite"
              keyTimes="0;1"
              values="0 50 50;-360 50 50"
            ></animateTransform>
          </circle>
        </svg>
      }
      <h3>{{ item.title }}</h3>
    </article>
  }
</section>
