<div [innerHTML]="looseIcon | safe"></div>

<h2 i18n>Oops you lose!</h2>

<p i18n>
  It seems like you still have more to learn about this topic before you can
  master it. Try a new topic, and let's see if you can win more than
  {{ +wonCash() | number: "1.2-2" }} CHF there.
</p>
<br />

<div class="action-row">
  <a
    [routerLink]="[
      '/relax',
      'quantum-quiz',
      { outlets: { state: 'choose-topic' } },
    ]"
    class="button"
    type="button"
    i18n
  >
    Play again
  </a>
</div>
