<h2
  ngxScrollAnimate="fade-in-left"
  aos="1"
  duration="400"
  class="section-title"
  i18n
>
  Work with
</h2>

<section>
  <ul #listRef>
    <ng-container #containerRef />
  </ul>
</section>

<ng-template #bubbleTemplate let-skill="skill">
  <li>
    <div class="bubble" [style.background]="skill.background">
      <img
        src="assets/img/icon/skills/{{ skill.path }}.svg"
        alt=""
        [style.background]="skill.backgroundIcon"
      />
    </div>
    <p>{{ skill.label }}</p>
  </li>
</ng-template>
