section {
  margin-top: 20px;

  display: grid;

  grid-template-columns: repeat(2, 1fr);

  column-gap: 40px;
  row-gap: 20px;
}
svg {
  width: 48px;
  height: 48px;
}
.icon-background {
  fill: var(--skill-icon-background);
}
h3 {
  font-weight: 700;
  font-size: 1.2rem;
  margin-bottom: 8px;
}

.icons {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  gap: 20px;
}

@media (max-width: 1180px) {
  svg {
    width: 40px;
    height: 40px;
  }
  .icons {
    gap: 10px;
  }
}
@media (max-width: 1024px) {
  svg {
    width: 48px;
    height: 48px;
  }
  .icons {
    gap: 20px;
  }
}

@media (max-width: 790px) {
  section {
    grid-template-columns: 100%;
  }
}

@media (max-width: 500px) {
  .icons {
    justify-content: space-between;
  }
}
