<h2 ngxScrollAnimate="fade-in-left" once="false" class="section-title" i18n>
  Next Recommended Pages
</h2>

<section>
  <ng-container #containerRef />
</section>

<ng-template
  #itemTemplate
  let-icon="icon"
  let-name="name"
  let-msg="msg"
  let-path="path"
>
  <a
    [routerLink]="path"
    ngxScrollAnimate="fade-in-up-scale"
    once="false"
    speed="500"
    aos="1.2"
  >
    <div class="icon" [innerHTML]="icon"></div>

    <div class="col">
      <h3>{{ name }}</h3>

      <p>{{ msg }}</p>
    </div>

    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24px"
      height="24px"
      viewBox="0 0 24 24"
    >
      <path
        class="chevron"
        d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"
      />
    </svg>
  </a>
</ng-template>
