:host,
.item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

:host {
  flex-wrap: wrap;

  gap: 12px;

  font-weight: 500;
}
.stars {
  .icon {
    margin-bottom: 2px;
  }
}
.item {
  gap: 4px;
  min-width: 55px;
}
.icon {
  display: inline-flex;
}
.value {
  opacity: 0;
  animation: fadeIn 300ms ease forwards;
}

:host ::ng-deep {
  svg {
    width: 1rem;
    height: 1rem;
  }
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}