<button
  class="btn-language"
  (click)="showLanguage.set(!showLanguage()); $event.stopPropagation()"
>
  <div class="row" [innerHTML]="globalizationIcon | safe"></div>

  <span>
    {{ activeLanguage().short }}
  </span>
</button>

@if (showLanguage()) {
  <div
    #dropdownRef
    class="dropdown-panel"
    (animate.enter)="handleAnimation($event, true)"
    (animate.leave)="handleAnimation($event, false)"
  >
    @for (language of languages; track $index) {
      <button
        (click)="changeLanguage(language)"
        [class.selected]="activeLanguage().iso2 === language.iso2"
      >
        {{ language.name }}
      </button>
    }
  </div>
}
