<button
  class="btn-language"
  (click)="showLanguage.set(!showLanguage()); $event.stopPropagation()"
>
  <div class="row" [innerHTML]="globalizationIcon | safe"></div>

  <span>
    {{ activeLanguage().short }}
  </span>
</button>

@if (showLanguage()) {
  <div @dropdown class="dropdown-panel">
    @for (language of languages; track $index) {
      <button
        (click)="changeLanguage(language)"
        [ngClass]="{ selected: activeLanguage().iso2 === language.iso2 }"
      >
        {{ language.name }}
      </button>
    }
  </div>
}
