<h2 i18n>Instruction</h2>

<p i18n>
  This mini-game tests your brain to see how well you can concentrate on
  something without being distracted. The game always shows you an item with the
  title “Color” or “Meaning” and a colored text. Below that, you will always see
  six randomly generated buttons. Your goal is to press the correct button that
  matches the title and text. You have one minute to score as many points as
  possible with as few mistakes as possible.
  <br /><br />
  For example, the title is “Color” and the text is “nine” with the color “red”.
  In this case, you should press the button below, which has a red color. In
  case the title is “Meaning”, you should press the button with the number
  “nine”.
</p>
<br />

<div class="action-row">
  <button (click)="next.emit()" class="button" type="button" i18n>Next</button>
</div>
