$divider-space: 25px;
$folding-space: 33px;

:host {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  width: 50%;
  margin-left: auto;

  @media (min-width: 1280px) {
    &[reversed] {
      flex-direction: row-reverse;
      padding-right: unset;
      margin-left: unset;

      .af-card {
        margin-left: 0px;
        margin-right: $divider-space;
      }
    }
  }
  @media (max-width: 1279px) {
    width: 100%;
    margin-top: 68px;
    margin-left: unset;
  }

  .af-card {
    margin-left: $divider-space;
  }

  &:last-child {
    .card {
      margin-bottom: 0px;
    }
  }
}

.af-card {
  padding: 0px;
}

.card {
  width: 100%;
}
.card-content {
  padding: 20px;
}

.sonar-container {
  transform-origin: center;
  position: relative;
}

.sonar,
.dot {
  position: absolute;
  top: 1.5rem;
  left: 50%;
  transform: translate(-50%, -50%);
}
.sonar {
  width: 20px;
  height: 20px;
  padding: 10px;
  border-radius: 50%;
  background-color: var(--color-primary-700);

  transition: background-color 250ms ease;
}

.dot {
  width: 20px;
  height: 20px;
  background-color: var(--page-background-primary);
  border: 3px solid var(--color-primary-700);
  border-radius: 50%;

  transition: background-color 250ms ease;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;

  outline: none;
  border: 1px solid var(--color-primary);
  border-radius: 4px;

  background: transparent;
  color: var(--color-primary);

  font-size: 0.9rem;

  padding: 0 3px 0 7px;
  margin: 10px 0 0 0;

  transition:
    background-color 250ms ease,
    transform 250ms ease;

  span {
    height: 24px;
    transition: transform 250ms ease;
  }
  &:hover {
    background-color: var(--color-primary-50);
    span {
      transform: translateX(3px);
    }
  }
  &:focus {
    background-color: var(--color-primary-100);
  }
  &:active {
    transform: scale(0.95);
  }

  ::ng-deep svg {
    fill: var(--color-primary);
  }
}

h2 {
  font-size: 1.1rem;
  font-weight: 700;
  margin-bottom: 3px;
}
.git-repo-stats,
p {
  font-size: 0.9rem;
  font-weight: 300;
  line-height: 160%;
}
.git-repo-stats{
  font-weight: 500;
}

@keyframes sonarAnimation {
  0% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0.8;
  }
  100% {
    transform: translate(-50%, -50%) scale(2);
    opacity: 0;
  }
}

.sonar-animation {
  animation: sonarAnimation ease;
}
