$divider-space: 25px;
$folding-space: 33px;

:host {
  display: block;
  margin-top: 40px;
  margin-left: unset;

  .af-card {
    margin-left: $divider-space;
  }

  &:last-child {
    .card {
      margin-bottom: 0px;
    }
  }

  @media (min-width: 960px) {
    padding-right: 20px;
  }
}

.af-card {
  padding: 0px;

  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
}

.card-content {
  padding: 0 20px 20px;
}

.sonar-container {
  transform-origin: center;
  position: relative;
}

.sonar,
.dot {
  position: absolute;
  top: 1.5rem;
  transform: translate(-50%, -50%);
}
.sonar {
  width: 20px;
  height: 20px;
  padding: 10px;
  border-radius: 50%;
  background-color: var(--color-primary-700);

  transition: background-color 250ms ease;
}

.dot {
  width: 20px;
  height: 20px;
  background-color: var(--page-background-primary);
  border: 3px solid var(--color-primary-700);
  border-radius: 50%;

  transition: background-color 250ms ease;
}

h2 {
  font-size: 1.1rem;
  font-weight: 700;
  margin-bottom: 5px;
}
.git-repo-stats,
p {
  font-size: 0.92rem;
  font-weight: 400;
  color: var(--text-color-secondary);
  line-height: 160%;
}
.git-repo-stats {
  font-weight: 500;
  margin-bottom: 5px;
}

@keyframes sonarAnimation {
  0% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0.8;
  }
  100% {
    transform: translate(-50%, -50%) scale(2);
    opacity: 0;
  }
}

.sonar-animation {
  animation: sonarAnimation ease 1400ms;
}
