<div class="sonar-container">
  <div #sonarRef class="sonar"></div>
  <div class="dot"></div>
</div>

<af-card
  class="card"
  [ngxScrollAnimate]="
    isReversed() && isMultiRowDesign() ? 'fade-in-right' : 'fade-in-left'
  "
  thresholdMode="pixel"
  aos="100"
  duration="400"
>
  <ng-content select="[date]" />

  <div class="card-content">
    <h2>
      <ng-content select="[title]" />
    </h2>

    @if (enableGitStats()) {
      <af-git-repo-stats [gitStats]="gitStats()" />
    }

    <p>
      <ng-content select="[msg]" />
    </p>

    @if (more()) {
      <button (click)="showMore()">
        {{ more()?.label }}
        <span [innerHTML]="chevronRightIcon | safe"></span>
      </button>
    }
  </div>
</af-card>
