$menu-size: 450px;

:host {
  position: relative;
}

main {
  padding: 40px;
  margin-left: $menu-size;
}
.af-header {
  width: $menu-size;
}

.container {
  max-width: 1200px;
  margin: auto;
}
.af-nav-mobile-menu-toggle-btn {
  display: none;
}

@media (max-width: 1400px) {
  $menu-size: 420px;
  main {
    margin-left: $menu-size;
  }
  .af-header {
    width: $menu-size;
  }
}
@media (max-width: 1200px) {
  $menu-size: 390px;
  main {
    margin-left: $menu-size;
  }
  .af-header {
    width: $menu-size;
  }
}
@media (max-width: 1024px) {
  main {
    margin-left: 0px;
  }
  .af-nav-mobile-menu-toggle-btn {
    display: unset;
    z-index: 1001;
  }
}

@media (max-width: 500px) {
  main {
    padding: 20px;
  }
}
