a,
button {
  cursor: pointer;
}

.btn {
  outline: none;
  border: unset;
  user-select: none;

  text-decoration: none;

  display: flex;
  align-items: center;
  justify-content: center;

  transition:
    transform 300ms ease,
    background-color 300ms ease;

  color: white;
  background-color: transparent;

  border-radius: 48px;
  border: 3px solid var(--color-light);

  padding: 10px 34px;
  font-weight: 500;
  font-size: 1rem;
  line-height: normal;
  white-space: nowrap;

  &.primary {
    border: 3px solid var(--color-primary);
    color: var(--text-color-primary);
  }

  &:focus-visible,
  &:hover {
    text-decoration: none;
    background-color: var(--color-light);
    color: var(--color-primary);

    &.primary {
      background: var(--color-primary);
      color: var(--color-light);
    }
  }
  &:active {
    transform: scale(0.95);
  }
}

.btn-stroke {
  display: flex;
  align-items: center;
  justify-content: center;

  outline: none;
  border: 1px solid var(--color-primary);
  border-radius: 4px;

  background: transparent;
  color: var(--color-primary);

  font-size: 0.9rem;

  padding: 0 3px 0 7px;
  margin: 20px 0 0 0;

  transition:
    background-color 250ms ease,
    transform 250ms ease;

  span {
    height: 24px;
    transition: transform 250ms ease;
  }
  &:hover {
    background-color: var(--color-primary-50);
    span {
      transform: translateX(3px);
    }
  }
  &:focus {
    background-color: var(--color-primary-100);
  }
  &:active {
    transform: scale(0.95);
  }

  svg {
    fill: var(--color-primary);
  }
}
