<div class="header">
  @if (warmUpRounds() < 3) {
    <span i18n>Warm-up laps</span>: {{ 3 - warmUpRounds() }}
  } @else {
    {{ time() }}
  }
</div>

<div class="items">
  @for (item of viewItems(); track item.loopId) {
    <div
      [@viewItem]="{
        value: 'in',
        params: { color: item.isCorrect ? 'green' : 'red' }
      }"
      class="item pos-{{ $index }}"
      [ngStyle]="{ '--game-item-color': item.color }"
    >
      <div class="mode">{{ item.mode | uppercase }}</div>
      <div class="content" [innerHTML]="item.content"></div>
    </div>
  }
</div>

<div class="action-buttons">
  <ng-container #buttonsRef />
</div>

<ng-template
  #buttonRef
  let-id="id"
  let-content="content"
  let-color="color"
  let-shortcut="shortcut"
>
  <button
    class="action-button"
    type="button"
    (click)="buttonTap(id, color)"
    [ngStyle]="{ '--game-item-color': color }"
  >
    <div class="col" [innerHTML]="content"></div>
    <kbd>{{shortcut}}</kbd>
  </button>
</ng-template>
