:host {
  display: block;

  font-size: 0.8rem;

  border-top: 1px solid var(--border-color);
}

.page-container {
  padding: 0px var(--page-padding);
}

footer {
  height: var(--footer-height);
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 32px;
  row-gap: 7px;
}

a {
  color: var(--text-color-primary);

  &:hover {
    text-decoration: underline;
  }
}
