:host {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 7px;
  padding: 10px var(--page-padding);

  font-size: 0.8rem;
}

a {
  color: var(--color-primary-800);
}
