$height: 3rem;
$padding: 1.5rem;
$color: var(--color-primary-700);

:host {
  height: $height;
  width: 100%;

  text-align: center;
  border-radius: var(--card-radius) var(--card-radius) 0 0;
  background-color: $color;

  color: white;
  font-size: 1.2rem;
  font-weight: 700;

  display: grid;
  place-content: center;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    transform: translateY(-50%);

    top: calc($height / 2);
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;

    left: -12px;
    border-right: 12px solid $color;
  }
}

:host-context([reversed]) {
  :host {
    &::after {
      left: unset;
      right: -12px;
      border-left: 12px solid $color;
      border-right: unset;
    }
  }
}
