$padding: 1.5rem;
$color: var(--text-color-primary);

:host {
  border-radius: var(--card-radius) var(--card-radius) 0 0;

  font-size: 0.86rem;
  font-weight: 400;
  color: var(--text-color-secondary);
  padding: 16px 20px 12px;

  display: grid;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    transform: translateY(-50%);

    top: 24px;
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;

    left: -12px;
    border-right: 12px solid $color;
  }
}
