<div class="contact-options">
  @for (item of contactOptions; track item.id) {
    <af-contact-card [id]="item.id" [url]="item.url">
      <ng-container ngProjectAs="[title]"> {{ item.title }} </ng-container>
      <ng-container ngProjectAs="[msg]"> {{ item.msg }} </ng-container>
      <ng-container ngProjectAs="[action]">{{ item.actionMsg }}</ng-container>
    </af-contact-card>
  }
</div>

<af-card>
  <h2 i18n>Alternatively, you can get in touch via the contact form.</h2>
  <af-contact-form />
</af-card>
