@use "sass:color";
@use "various/breakpoints" as breakpoints;
:host {
  padding: var(--page-padding);
}

article {
  -webkit-tap-highlight-color: transparent;
  margin-bottom: 45px;
  .row {
    justify-content: space-between;
  }
}

h1 {
  font-size: 2rem;
  line-height: 3rem;
}
h2 {
  font-size: 1.5rem;
  line-height: 2.5rem;
}
h3 {
  font-weight: 500;
}
.chain-url {
  opacity: 0;
  transition: opacity 200ms ease;
  position: absolute;

  left: 0px;
  top: 50%;
  margin-top: 1px;
  transform: translateY(-50%);

  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;

  svg {
    transform: rotate(-45deg);
    fill: var(--text-color-primary);
  }
}

.privacy-card {
  box-sizing: border-box;
  overflow: hidden;
  border: 1px solid var(--border-color);
  background-color: var(--card-background) !important;
  border-radius: 7px;
  margin: 0 auto 30px;
  width: 100%;
  &.visible {
    padding: 0px;
  }
}
.card-header {
  position: relative;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  min-height: 55px;
  box-sizing: border-box;
  transition:
    background-color 200ms ease,
    padding 200ms ease;
  padding: 0 30px;
  &:hover {
    .chain-url {
      opacity: 1;
    }
  }
}
.card-body {
  transition-property: margin, opacity, height;
  transition-duration: 150ms;
  transition-timing-function: ease;

  opacity: 0;
  margin: 0px;
  height: 0px;

  .text-xs {
    padding: 0 30px;
  }

  &.visible {
    opacity: 1;
    margin: 20px 0;
    height: auto;
  }
}

table {
  border: 0;
  border-collapse: collapse;
  border-spacing: 0;
  margin: 16px 0 15px;
  width: 100%;
}
th {
  text-align: left;
  color: var(--text-color-primary);
  height: 32px;
  padding: 8px;
  vertical-align: middle;
  font-size: 1rem;
}
td {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  height: 26px;
  padding: 8px;
  font-size: 1rem;
}
.data-usage-table {
  td {
    vertical-align: top;
  }
  p {
    padding: 0px !important;
  }
}
.table-container {
  overflow-x: auto;
}

.drop-down-icon {
  min-width: 32px;
  transition: transform 300ms ease;

  &.rotated {
    transform: rotate(180deg);
  }
}

@include breakpoints.xs {
  .card-header {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }

  .card-body {
    .text-xs {
      padding-left: 15px !important;
      padding-right: 15px !important;
    }
  }
}
:host ::ng-deep {
  .text-xs,
  li,
  p,
  td,
  a {
    font-size: 1rem;
    line-height: 150%;
  }
  a {
    color: var(--text-color-primary);
    text-decoration: underline;
  }
  h4 {
    font-size: 1.1rem;
    font-weight: 500;
  }
  ul {
    margin-top: 0.25rem;
    padding-left: 26px;
  }
  .drop-down-icon {
    fill: var(--text-color-primary);
  }
}
