@if(cookies.showCookies && !manager.disabled) {
<div @fadeOut [@.disabled]="manager.disabled" class="cookie-container">
    @if(cookies.showAlert) {
    <section @alert class="cookie-info-card">
        <div class="cookie-title row">
            <h6 i18n>Cookies</h6>
        </div>
        <p i18n>
            Unsere Webseite verwendet Cookies, um Ihnen ein optimales Nutzungserlebnis auf unserer Website zu
            ermöglichen. Neben technisch notwendigen Cookies können Sie auch optionale Cookies, welche für Analysen
            verwendet werden aktivieren.
            <br><br>
            Cookies helfen uns zu verstehen, wie unsere Website genutzt wird. Wir können so unsere
            Inhalte verbessern und das Marketing optimieren.
            <br><br>
            Weitere Informationen dazu finden Sie in unseren <a routerLink="privacy"
                fragment="cookies">Cookie-Richtlinien</a>.
        </p>

        <div class="cookie-options">
            <div class="cookie-option">
                <input class="cookie-checkbox" [disabled]="true" id="cookie-require" tabindex="-1" type="checkbox"
                    name="required" checked="checked">
                <label class="cookie-checkbox-label" for="cookie-require" i18n>Notwendig</label>
            </div>

            <div class="cookie-option">
                <input class="cookie-checkbox" [(ngModel)]="cookies.analytics" id="cookie-analytics" type="checkbox"
                    name="analytics">
                <label class="cookie-checkbox-label" for="cookie-analytics" i18n>Analysen (Anonym)</label>
            </div>

            <!--div class="cookie-option">
                <input [(ngModel)]="cookies.marketing" id="cookie-marketing" type="checkbox" name="marketing">
                <label for="cookie-marketing" i18n>Marketing</label>
            </div-->
        </div>

        <div class="cookie-actions">
            <button class="cookie-btn flat" (click)="cookies.save('all')" i18n>Alle akzeptieren</button>
            <button class="cookie-btn outline" (click)="cookies.save('decline')" i18n>Ablehnen</button>
            <button class="cookie-btn outline" (click)="cookies.save('selected')" i18n>Speichern</button>
        </div>
    </section>
    }
</div>
}