:host {
  display: grid;
  grid-template-areas:
    "frontend backend"
    "more-knowledge more-knowledge";

  gap: 40px;

  margin: 80px 0;
}
.frontend {
  grid-area: frontend;
}
.backend {
  grid-area: backend;
}
.more-knowledge {
  grid-area: more-knowledge;
}

h2 {
  margin-bottom: 15px;
}
.af-progress-bar {
  display: block;
  margin-bottom: 12px;
}
.chip-list {
  justify-content: flex-start;
}
