h2 {
  margin-bottom: 15px;
}
.af-progress-bar {
  display: block;
  margin-bottom: 12px;
}
.chip-list {
  justify-content: space-between;
}
@media (max-width: 600px) {
  .chip-list {
    justify-content: flex-start;
  }
}
