<a #card [href]="url()" class="row">
  <div class="thumbnail">
    <ng-container *ngTemplateOutlet="imgRef" />
  </div>

  <div class="col">
    <div class="frosted-background">
      <ng-container *ngTemplateOutlet="imgRef" />
    </div>
    <div afCardEffects [card]="card" class="frosted-glass"></div>

    <h2 class="title">
      <ng-content select="#title" />
    </h2>
    <p class="msg">
      <ng-content select="#msg" />
    </p>

    <p class="action">
      <span>
        <ng-content select="#action" />
      </span>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        height="24px"
        viewBox="0 0 24 24"
        width="24px"
        fill="#000000"
      >
        <path
          class="chevron"
          d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"
        />
      </svg>
    </p>
  </div>
</a>

<ng-template #imgRef>
  <picture>
    @for (format of ["avif", "webp", "jpeg"]; track format) {
      <source
        srcset="
          assets/img/contact/{{id()}}/{{id()}}_1x.{{format}} 1x,
          assets/img/contact/{{id()}}/{{id()}}_2x.{{format}} 2x,
          assets/img/contact/{{id()}}/{{id()}}_3x.{{format}} 3x,
          assets/img/contact/{{id()}}/{{id()}}_4x.{{format}} 4x
        "
        type="image/{{ format }}"
      />
    }
    <img alt="" src="assets/img/contact/{{ id() }}/{{ id() }}_4x.jpeg" />
  </picture>
</ng-template>
