<section class="container">
  <h1>Imprint</h1>
  <div class="row">
    <address>
      <h2>Contact address</h2>
      <br />
      <p>
        WAIO Frei Applications
        <br />
        Hüttisbühl 2771
        <br />
        9642 Ebnat-Kappel
        <br />
        Schweiz
      </p>
      <br />
      <a href="mailto:info@waio.ch" title="Send E-Mail">info&#64;waio.ch</a>
    </address>

    <article>
      <h2>Authorised representatives</h2>
      <br />
      <a title="Send E-Mail" href="mailto:alex.frei@hotmail.ch"> Alex Frei </a>
    </article>
  </div>
</section>
