<form [formGroup]="form" (ngSubmit)="submit$.next()">
  <div class="row">
    <div class="col h-stretch">
      <input
        afInputLabel
        i18n-label
        label="First Name"
        enterkeyhint="next"
        autocomplete="given-name"
        formControlName="givenName"
        type="text"
      />

      <input
        afInputLabel
        i18n-label
        label="Last Name"
        enterkeyhint="next"
        autocomplete="family-name"
        formControlName="familyName"
        type="text"
      />

      <input
        afInputLabel
        i18n-label
        label="E-Mail"
        enterkeyhint="next"
        autocomplete="email"
        formControlName="email"
        type="email"
      />
    </div>

    <div class="col h-stretch message">
      <textarea
        #message
        afInputLabel
        i18n-label
        label="Message"
        enterkeyhint="enter"
        maxlength="10000"
        rows="30"
        autocomplete="off"
        formControlName="message"
        type="text"
      ></textarea>
      <small class="ml-auto">
        {{ message.value.length | number }} / {{ 10000 | number }}
      </small>
    </div>
  </div>

  @switch (formState().state) {
    @case ("success") {
      <p class="color-primary mt2" [innerHTML]="formState().message"></p>
    }
    @case ("error") {
      <p class="danger mt2" [innerHTML]="formState().message"></p>
    }
    @case ("loading") {
      <af-progress-spinner diameter="100" />
    }
  }

  @if (formState().canSend) {
    <button
      [disabled]="this.form.disabled"
      class="btn primary"
      type="submit"
      i18n
    >
      Send
    </button>
  }
</form>
