<div class="frosted-background">
  <picture>
    @for (format of ["avif", "webp", "jpeg"]; track format) {
      <source
        srcset="assets/img/splash/bubbles.{{format}}"
        type="image/{{ format }}"
      />
    }
    <img src="assets/img/splash/bubbles.jpeg" alt="" />
  </picture>
</div>

<!-- That the hero animation will work, is it required that we create a separated layer which applies the backdrop-filter.  -->
<div class="frosted-glass"></div>

<div class="frosted-box">
  <picture class="avatar">
    @for (format of ["avif", "webp", "png"]; track format) {
      <source
        srcset="
          assets/img/avatar/alex_1x.{{format}} 1x,
          assets/img/avatar/alex_2x.{{format}} 2x,
          assets/img/avatar/alex_3x.{{format}} 3x,
          assets/img/avatar/alex_4x.{{format}} 4x
        "
        type="image/{{ format }}"
      />
    }

    <img
      ngxHero
      class="hero-avatar"
      backdropPosition="beforeHeroItem"
      highQualityPath="assets/img/avatar/alex_original"
      [supportedFormats]="['avif', 'webp', 'png']"
      src="assets/img/avatar/alex_4x.png"
      i18n-alt
      alt="Alex Frei profile picture"
    />
  </picture>

  <h1>Alex Frei</h1>
  <h2 i18n>Full Stack Developer</h2>

  <ng-container #navItemsRef />

  <div class="social">
    <a
      (click)="closeSideMenu()"
      class="social-icon-btn"
      href="https://github.com/hm21"
      target="_blank"
      aria-label="Github"
      i18n-afTooltip
      afTooltip="View GitHub Profile"
      [innerHtml]="iconGithub | safe"
    >
    </a>

    <a
      (click)="closeSideMenu()"
      class="social-icon-btn"
      href="https://www.facebook.com/profile.php?id=100078013238002"
      target="_blank"
      aria-label="Facebook"
      i18n-afTooltip
      afTooltip="View Facebook Profile"
      [innerHtml]="iconFacebook | safe"
    >
    </a>

    <a
      (click)="closeSideMenu()"
      class="social-icon-btn"
      href="https://twitter.com/Frei2100"
      target="_blank"
      aria-label="X aka Twitter"
      i18n-afTooltip
      afTooltip="View X Profile"
      [innerHtml]="iconX | safe"
    >
    </a>
  </div>

  <button
    class="btn contact"
    (click)="downloadPdf()"
    i18n-afTooltip
    afTooltip="Download the CV as a PDF"
    i18n
  >
    Download
  </button>

  <div class="spacer"></div>

  <footer>
    <ng-container #languageContainerRef />

    <a
      class="source-btn color-light"
      href="https://github.com/hm21/alex-frei-cv"
      (click)="closeSideMenu()"
      target="_blank"
      i18n
    >
      View source code
    </a>

    <ng-container #themeContainerRef />
  </footer>
</div>

<button
  aria-label="Close Side-menu"
  class="mobile-close-button"
  (click)="closeSideMenu()"
>
  <svg
    width="100%"
    height="100%"
    viewBox="0 0 50 50"
    xmlns="http://www.w3.org/2000/svg"
  >
    <line x1="0" y1="0" x2="50" y2="50" stroke="white" stroke-width="5" />
    <line x1="0" y1="50" x2="50" y2="0" stroke="white" stroke-width="5" />
  </svg>
</button>

<ng-template #navItem let-name="name" let-icon="icon" let-path="path">
  <a
    class="nav-item"
    [routerLink]="path"
    routerLinkActive="router-link-active"
    (click)="closeSideMenu()"
  >
    {{ name }}
  </a>
</ng-template>
