$active-nav-item: var(--color-primary);
$inactive-nav-item: #909599;

ul,
li {
  margin: 0px;
}
li {
  padding: 0px;
  list-style: none;
  &:last-child {
    margin-top: 10px;
  }
}
ul {
  padding: 10px 8px;

  height: 100%;
  margin-left: auto;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  background-color: var(--card-background-accent);
}

.nav-item {
  margin-bottom: 7px;
  padding: 7px 0 10px;

  background-color: var(--card-background);
  background-image: radial-gradient(
      93% 87% at 87% 89%,
      rgba(182, 182, 182, 0.23) 0%,
      transparent 86.18%
    ),
    radial-gradient(
      66% 66% at 26% 20%,
      rgba(255, 255, 255, 0.699) 0%,
      rgba(255, 255, 255, 0) 69.79%,
      rgba(255, 255, 255, 0) 100%
    );
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.06);

  border-radius: 100%;
  border: 1px solid rgba(0, 0, 0, 0.03);

  width: 68px;
  height: 68px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  transform: scale(0.95);
  transition:
    background-color 60ms ease,
    transform 200ms ease;

  span {
    color: var(--text-color-primary);
    transition: color 60ms ease;
    font-size: 12px;
    font-weight: 300;
    padding: 0 3px;

    max-width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
:host-context([data-theme="dark"]) {
  .nav-item {
    background-image: radial-gradient(
        93% 87% at 87% 89%,
        rgba(82, 82, 82, 0.23) 0%,
        transparent 86.18%
      ),
      radial-gradient(
        66% 66% at 26% 20%,
        rgba(88, 88, 88, 0.219) 0%,
        rgba(255, 255, 255, 0) 69.79%,
        rgba(255, 255, 255, 0) 100%
      );
  }
}

:host ::ng-deep {
  svg {
    height: 26px;
    width: auto;
  }
  .fill {
    transition: fill 200ms ease;
    fill: $inactive-nav-item;
  }
  .stroke {
    transition: stroke 200ms ease;
    stroke: $inactive-nav-item;
  }
  a {
    &:hover {
      background-color: var(--card-hover-color);
    }
    &.router-link-active {
      transform: scale(1);
      background-color: #d6e8ff;

      span {
        color: $active-nav-item !important;
      }
      .fill {
        fill: $active-nav-item;
      }
      .stroke {
        stroke: $active-nav-item;
      }
    }
  }
}

:host-context([data-theme="dark"]) {
  :host ::ng-deep {
    a {
      &.router-link-active {
        background-color: #232325;
      }
    }
  }
}
