<h2 i18n>Instruction</h2>

<p i18n>
  This game is like the quiz show "Who Wants to Be a Millionaire." You will try
  to win the million, but you choose the topic.
  <br />
  <br />
  If you're unfamiliar, the rules of this quiz game are quite simple. You
  attempt to answer as many questions as possible until the one-million
  question, which progressively get more difficult. You always choose between
  four answers, where only one answer is correct.
</p>
<br />

<div class="action-row">
  <button (click)="next.emit()" class="button" type="button" i18n>Next</button>
</div>
