:host{
  display: block;
  margin: auto;
  max-width: 1280px;
}

h1 {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 7px;
}

p {
  font-size: 0.9rem;
  font-weight: 300;
  margin-bottom: 40px;
}


.af-recommended-pages{
  margin-top: 100px;
}